
<div class="journey-container">
    <mzd-timeline>
        <mzd-timeline-content style="box-shadow: none;" *ngFor="let el of journeyElements" (click)="goToUrl(el)">
            <div class="journey-content">
                <div class="flexbox" *ngIf="hasImage(el)" >
                    <div class="flex-content">
                        <p class="text">{{el.time}}</p>
                        <h1 class="text">{{el.title}}</h1>
                    </div>
                    <div *ngIf="hasImage(el)" class="journey-img-container flex-content">
                        <img class="journey-img" [src]="el.imgSource" />
                    </div>
                </div>
                <p class="text" *ngIf="!hasImage(el)">{{el.time}}</p>
                <h1 class="text" *ngIf="!hasImage(el)">{{el.title}}</h1>
                
                <p class="text">{{el.description}}</p>
                
            </div>
            <mzd-icon>
                <img class="in-circle" src="../../assets/petter_modern_atom_logo_2d2c5d8d-d201-4c1b-b459-c47f50d2ddfc.png" />
            </mzd-icon>
        </mzd-timeline-content>
    </mzd-timeline>
</div>