.journey-container {
    min-height: 100vh;
    padding: 20px;
}

.in-circle {
    border: 2px solid rgb(196, 231, 245) !important;
    border-radius: 100px;
    left: -17px;
    top: -16px;
    position: absolute;
    width: 50px;
    overflow: hidden;
}

.journey-content {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.journey-img {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
}

@media (max-width:1000px) {
    .journey-img {
        max-width: 200px;
    }
}
.journey-img-container {

}