<div class="technologies-container">
    <!-- <h1 class="text title">About me</h1>
    <p class="text">Hey, I'm Max, </p>
    <br /> -->
    <h2 class="text title">Technologies</h2>
    <br />
    <mat-grid-list [cols]="getColAmount()" rowHeight="2:1">
        <mat-grid-tile *ngFor="let tech of technologies" class="tile">
            <div class="card" [matTooltip]="tech.description">
                <img class="in-card-logo" [src]="tech.src"/>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>