<div class="initial-container">
    <img class="main-img" src="../../assets/petter_modern_atom_logo_2d2c5d8d-d201-4c1b-b459-c47f50d2ddfc.png" />

    <div class="initial-text">
        <h1 class="text title">Cose Digital</h1>
        <div class="intro-container">
            <p class="text intro"><span id="typed"></span></p>
        </div>
        <br />
        <div class="initial-flex-container">
            <!-- <mat-card class="initial-card">Simple card</mat-card> -->
        </div>
    </div>
</div>
