.initial-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

@media (max-width:1000px) {
    .main-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        height: 350px;
        border-radius: 20px;
    }

    .initial-text {
        position: absolute;
        top: 380px;
        margin-left: auto;
        margin-right: auto;
    }

    .title {
        text-align: center;
        justify-content: center;
        font-size: 30px;
        margin-bottom: 10px;
        
        font-weight: 100;
    }

    .intro {
        
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 16px;
    }

    .intro-container {
        width: 100vw;
    }
}

@media (min-width:1000px) {
    .main-img {
        position: absolute;
        margin-top: 200px;
        max-height: 600px;
        right: 4vw;
        border-radius: 20px;
    }
    .initial-text {
        max-width: 40vw;
        position: absolute;
        margin-top: 200px;
        margin-left: 100px;
    }

    .title {
        font-size: 100px;
        font-weight: 100;
        margin-bottom: 10px;
    }

    .intro {
        font-size: 20px;
        margin: 6px;
    }
}

@media (min-width:1600px) { 
.main-img {
        right: 7vw;
        border-radius: 20px;
    }
}

.main-img:hover {
    filter: brightness(2);
    -webkit-transition: filter 1s ease-out;
    -moz-transition: filter 1s ease-out;
    -o-transition: filter 1s ease-out;
    -ms-transition: filter 1s ease-out;
    transition: filter 1s ease-out;
}

.main-img {
    filter: brightness(1);
    -webkit-transition: filter 1s ease-out;
    -moz-transition: filter 1s ease-out;
    -o-transition: filter 1s ease-out;
    -ms-transition: filter 1s ease-out;
    transition: filter 1s ease-out;
}

.initial-card {
    padding: 10px;
}

.initial-flex-container {
    display: flex;
}
