
html, body {
  overflow-x: hidden;
}

body {
   position: relative;
   background-color: black;
   margin: 0px;
 }

 .text {
    font-family: 'Courier New';
    font-weight: 500;
    color: rgb(196, 231, 245);
 }
